.row > div > img {
    height: auto;
    width: 100%;
    margin: 10px;
}

.row {
    flex-wrap: wrap;
}

.row > div {
    justify-content: center;
}

h3 {
    text-align: center;
    padding-top: 20px;
}